<?xml version="1.0" encoding="UTF-8"?>
<!-- Файлы приложения Rai на IIS: без этих строк IIS не отдаёт .yml, .AppImage, .deb, .dmg и .blockmap -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".yml" /><mimeMap fileExtension=".yml" mimeType="text/yaml" />
      <remove fileExtension=".blockmap" /><mimeMap fileExtension=".blockmap" mimeType="application/octet-stream" />
      <remove fileExtension=".AppImage" /><mimeMap fileExtension=".AppImage" mimeType="application/octet-stream" />
      <remove fileExtension=".deb" /><mimeMap fileExtension=".deb" mimeType="application/vnd.debian.binary-package" />
      <remove fileExtension=".dmg" /><mimeMap fileExtension=".dmg" mimeType="application/octet-stream" />
    </staticContent>
    <defaultDocument><files><clear /><add value="index.php" /></files></defaultDocument>
  </system.webServer>
</configuration>
