<?xml version="1.0" encoding="UTF-8"?>
<!-- Rai (IIS/Windows). На Apache используется .htaccess. -->
<configuration>
  <system.webServer>
    <defaultDocument><files><clear /><add value="index.html" /></files></defaultDocument>
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".wasm" /><mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".mjs" /><mimeMap fileExtension=".mjs" mimeType="text/javascript" />
      <remove fileExtension=".py" /><mimeMap fileExtension=".py" mimeType="text/plain" />
      <remove fileExtension=".gz" /><mimeMap fileExtension=".gz" mimeType="application/gzip" />
    </staticContent>
    <security>
      <requestFiltering><hiddenSegments><add segment="data" /></hiddenSegments></requestFiltering>
    </security>
  </system.webServer>
</configuration>
